.App {
  margin: 0;
  background-color: #f3f3f3;
  text-align: center;
  box-sizing: border-box;
  height: 100vh;
}

.welcome-text {
  font-size: 60px;
  background: -webkit-linear-gradient(rgb(143, 143, 143), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.welcome {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(68, 68, 68, 0.061);
  margin: auto;
  margin-top: 100px;
  padding: 20px;
}